<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>.notdef.glif</string>
	<key>A</key>
	<string>A.glif</string>
	<key>Aacute</key>
	<string>Aacute.glif</string>
	<key>Abreve</key>
	<string>Abreve.glif</string>
	<key>uni1EAE</key>
	<string>uni1EAE.glif</string>
	<key>uni1EB6</key>
	<string>uni1EB6.glif</string>
	<key>uni1EB0</key>
	<string>uni1EB0.glif</string>
	<key>uni1EB2</key>
	<string>uni1EB2.glif</string>
	<key>uni1EB4</key>
	<string>uni1EB4.glif</string>
	<key>uni01CD</key>
	<string>uni01CD.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex.glif</string>
	<key>uni1EA4</key>
	<string>uni1EA4.glif</string>
	<key>uni1EAC</key>
	<string>uni1EAC.glif</string>
	<key>uni1EA6</key>
	<string>uni1EA6.glif</string>
	<key>uni1EA8</key>
	<string>uni1EA8.glif</string>
	<key>uni1EAA</key>
	<string>uni1EAA.glif</string>
	<key>uni0200</key>
	<string>uni0200.glif</string>
	<key>Adieresis</key>
	<string>Adieresis.glif</string>
	<key>uni1EA0</key>
	<string>uni1EA0.glif</string>
	<key>Agrave</key>
	<string>Agrave.glif</string>
	<key>uni1EA2</key>
	<string>uni1EA2.glif</string>
	<key>uni0202</key>
	<string>uni0202.glif</string>
	<key>Amacron</key>
	<string>Amacron.glif</string>
	<key>Aogonek</key>
	<string>Aogonek.glif</string>
	<key>Aring</key>
	<string>Aring.glif</string>
	<key>Aringacute</key>
	<string>Aringacute.glif</string>
	<key>Atilde</key>
	<string>Atilde.glif</string>
	<key>AE</key>
	<string>AE.glif</string>
	<key>AEacute</key>
	<string>AEacute.glif</string>
	<key>B</key>
	<string>B.glif</string>
	<key>C</key>
	<string>C.glif</string>
	<key>Cacute</key>
	<string>Cacute.glif</string>
	<key>Ccaron</key>
	<string>Ccaron.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla.glif</string>
	<key>uni1E08</key>
	<string>uni1E08.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent.glif</string>
	<key>D</key>
	<string>D.glif</string>
	<key>uni01C4</key>
	<string>uni01C4.glif</string>
	<key>Eth</key>
	<string>Eth.glif</string>
	<key>Dcaron</key>
	<string>Dcaron.glif</string>
	<key>uni1E12</key>
	<string>uni1E12.glif</string>
	<key>Dcroat</key>
	<string>Dcroat.glif</string>
	<key>uni1E0C</key>
	<string>uni1E0C.glif</string>
	<key>uni1E0E</key>
	<string>uni1E0E.glif</string>
	<key>uni01F2</key>
	<string>uni01F2.glif</string>
	<key>uni01C5</key>
	<string>uni01C5.glif</string>
	<key>E</key>
	<string>E.glif</string>
	<key>Eacute</key>
	<string>Eacute.glif</string>
	<key>Ebreve</key>
	<string>Ebreve.glif</string>
	<key>Ecaron</key>
	<string>Ecaron.glif</string>
	<key>uni1E1C</key>
	<string>uni1E1C.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex.glif</string>
	<key>uni1EBE</key>
	<string>uni1EBE.glif</string>
	<key>uni1EC6</key>
	<string>uni1EC6.glif</string>
	<key>uni1EC0</key>
	<string>uni1EC0.glif</string>
	<key>uni1EC2</key>
	<string>uni1EC2.glif</string>
	<key>uni1EC4</key>
	<string>uni1EC4.glif</string>
	<key>uni0204</key>
	<string>uni0204.glif</string>
	<key>Edieresis</key>
	<string>Edieresis.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent.glif</string>
	<key>uni1EB8</key>
	<string>uni1EB8.glif</string>
	<key>Egrave</key>
	<string>Egrave.glif</string>
	<key>uni1EBA</key>
	<string>uni1EBA.glif</string>
	<key>uni0206</key>
	<string>uni0206.glif</string>
	<key>Emacron</key>
	<string>Emacron.glif</string>
	<key>uni1E16</key>
	<string>uni1E16.glif</string>
	<key>uni1E14</key>
	<string>uni1E14.glif</string>
	<key>Eogonek</key>
	<string>Eogonek.glif</string>
	<key>uni1EBC</key>
	<string>uni1EBC.glif</string>
	<key>F</key>
	<string>F.glif</string>
	<key>G</key>
	<string>G.glif</string>
	<key>Gbreve</key>
	<string>Gbreve.glif</string>
	<key>Gcaron</key>
	<string>Gcaron.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent.glif</string>
	<key>uni1E20</key>
	<string>uni1E20.glif</string>
	<key>H</key>
	<string>H.glif</string>
	<key>Hbar</key>
	<string>Hbar.glif</string>
	<key>uni1E2A</key>
	<string>uni1E2A.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex.glif</string>
	<key>uni1E24</key>
	<string>uni1E24.glif</string>
	<key>I</key>
	<string>I.glif</string>
	<key>IJ</key>
	<string>IJ.glif</string>
	<key>Iacute</key>
	<string>Iacute.glif</string>
	<key>Ibreve</key>
	<string>Ibreve.glif</string>
	<key>uni01CF</key>
	<string>uni01CF.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex.glif</string>
	<key>uni0208</key>
	<string>uni0208.glif</string>
	<key>Idieresis</key>
	<string>Idieresis.glif</string>
	<key>uni1E2E</key>
	<string>uni1E2E.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent.glif</string>
	<key>uni1ECA</key>
	<string>uni1ECA.glif</string>
	<key>Igrave</key>
	<string>Igrave.glif</string>
	<key>uni1EC8</key>
	<string>uni1EC8.glif</string>
	<key>uni020A</key>
	<string>uni020A.glif</string>
	<key>Imacron</key>
	<string>Imacron.glif</string>
	<key>Iogonek</key>
	<string>Iogonek.glif</string>
	<key>Itilde</key>
	<string>Itilde.glif</string>
	<key>J</key>
	<string>J.glif</string>
	<key>uni004A0301</key>
	<string>uni004A0301.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex.glif</string>
	<key>K</key>
	<string>K.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>L</key>
	<string>L.glif</string>
	<key>uni01C7</key>
	<string>uni01C7.glif</string>
	<key>Lacute</key>
	<string>Lacute.glif</string>
	<key>Lcaron</key>
	<string>Lcaron.glif</string>
	<key>uni1E3C</key>
	<string>uni1E3C.glif</string>
	<key>uni013B</key>
	<string>uni013B.glif</string>
	<key>Ldot</key>
	<string>Ldot.glif</string>
	<key>uni1E36</key>
	<string>uni1E36.glif</string>
	<key>uni01C8</key>
	<string>uni01C8.glif</string>
	<key>uni1E3A</key>
	<string>uni1E3A.glif</string>
	<key>Lslash</key>
	<string>Lslash.glif</string>
	<key>M</key>
	<string>M.glif</string>
	<key>uni1E42</key>
	<string>uni1E42.glif</string>
	<key>N</key>
	<string>N.glif</string>
	<key>uni01CA</key>
	<string>uni01CA.glif</string>
	<key>Nacute</key>
	<string>Nacute.glif</string>
	<key>Ncaron</key>
	<string>Ncaron.glif</string>
	<key>uni1E4A</key>
	<string>uni1E4A.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni1E44</key>
	<string>uni1E44.glif</string>
	<key>uni1E46</key>
	<string>uni1E46.glif</string>
	<key>uni019D</key>
	<string>uni019D.glif</string>
	<key>uni01CB</key>
	<string>uni01CB.glif</string>
	<key>uni1E48</key>
	<string>uni1E48.glif</string>
	<key>Ntilde</key>
	<string>Ntilde.glif</string>
	<key>Eng</key>
	<string>Eng.glif</string>
	<key>O</key>
	<string>O.glif</string>
	<key>Oacute</key>
	<string>Oacute.glif</string>
	<key>Obreve</key>
	<string>Obreve.glif</string>
	<key>uni01D1</key>
	<string>uni01D1.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex.glif</string>
	<key>uni1ED0</key>
	<string>uni1ED0.glif</string>
	<key>uni1ED8</key>
	<string>uni1ED8.glif</string>
	<key>uni1ED2</key>
	<string>uni1ED2.glif</string>
	<key>uni1ED4</key>
	<string>uni1ED4.glif</string>
	<key>uni1ED6</key>
	<string>uni1ED6.glif</string>
	<key>uni020C</key>
	<string>uni020C.glif</string>
	<key>Odieresis</key>
	<string>Odieresis.glif</string>
	<key>uni022A</key>
	<string>uni022A.glif</string>
	<key>uni0230</key>
	<string>uni0230.glif</string>
	<key>uni1ECC</key>
	<string>uni1ECC.glif</string>
	<key>Ograve</key>
	<string>Ograve.glif</string>
	<key>uni1ECE</key>
	<string>uni1ECE.glif</string>
	<key>Ohorn</key>
	<string>Ohorn.glif</string>
	<key>uni1EDA</key>
	<string>uni1EDA.glif</string>
	<key>uni1EE2</key>
	<string>uni1EE2.glif</string>
	<key>uni1EDC</key>
	<string>uni1EDC.glif</string>
	<key>uni1EDE</key>
	<string>uni1EDE.glif</string>
	<key>uni1EE0</key>
	<string>uni1EE0.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut.glif</string>
	<key>uni020E</key>
	<string>uni020E.glif</string>
	<key>Omacron</key>
	<string>Omacron.glif</string>
	<key>uni1E52</key>
	<string>uni1E52.glif</string>
	<key>uni1E50</key>
	<string>uni1E50.glif</string>
	<key>uni01EA</key>
	<string>uni01EA.glif</string>
	<key>Oslash</key>
	<string>Oslash.glif</string>
	<key>Oslashacute</key>
	<string>Oslashacute.glif</string>
	<key>Otilde</key>
	<string>Otilde.glif</string>
	<key>uni1E4C</key>
	<string>uni1E4C.glif</string>
	<key>uni1E4E</key>
	<string>uni1E4E.glif</string>
	<key>uni022C</key>
	<string>uni022C.glif</string>
	<key>OE</key>
	<string>OE.glif</string>
	<key>P</key>
	<string>P.glif</string>
	<key>Thorn</key>
	<string>Thorn.glif</string>
	<key>Q</key>
	<string>Q.glif</string>
	<key>R</key>
	<string>R.glif</string>
	<key>Racute</key>
	<string>Racute.glif</string>
	<key>Rcaron</key>
	<string>Rcaron.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0210</key>
	<string>uni0210.glif</string>
	<key>uni1E5A</key>
	<string>uni1E5A.glif</string>
	<key>uni0212</key>
	<string>uni0212.glif</string>
	<key>uni1E5E</key>
	<string>uni1E5E.glif</string>
	<key>S</key>
	<string>S.glif</string>
	<key>Sacute</key>
	<string>Sacute.glif</string>
	<key>uni1E64</key>
	<string>uni1E64.glif</string>
	<key>Scaron</key>
	<string>Scaron.glif</string>
	<key>uni1E66</key>
	<string>uni1E66.glif</string>
	<key>Scedilla</key>
	<string>Scedilla.glif</string>
	<key>Scircumflex</key>
	<string>Scircumflex.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni1E60</key>
	<string>uni1E60.glif</string>
	<key>uni1E62</key>
	<string>uni1E62.glif</string>
	<key>uni1E68</key>
	<string>uni1E68.glif</string>
	<key>uni1E9E</key>
	<string>uni1E9E.glif</string>
	<key>uni018F</key>
	<string>uni018F.glif</string>
	<key>T</key>
	<string>T.glif</string>
	<key>Tbar</key>
	<string>Tbar.glif</string>
	<key>Tcaron</key>
	<string>Tcaron.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni1E70</key>
	<string>uni1E70.glif</string>
	<key>uni021A</key>
	<string>uni021A.glif</string>
	<key>uni1E6C</key>
	<string>uni1E6C.glif</string>
	<key>uni1E6E</key>
	<string>uni1E6E.glif</string>
	<key>U</key>
	<string>U.glif</string>
	<key>Uacute</key>
	<string>Uacute.glif</string>
	<key>Ubreve</key>
	<string>Ubreve.glif</string>
	<key>uni01D3</key>
	<string>uni01D3.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex.glif</string>
	<key>uni0214</key>
	<string>uni0214.glif</string>
	<key>Udieresis</key>
	<string>Udieresis.glif</string>
	<key>uni1EE4</key>
	<string>uni1EE4.glif</string>
	<key>Ugrave</key>
	<string>Ugrave.glif</string>
	<key>uni1EE6</key>
	<string>uni1EE6.glif</string>
	<key>Uhorn</key>
	<string>Uhorn.glif</string>
	<key>uni1EE8</key>
	<string>uni1EE8.glif</string>
	<key>uni1EF0</key>
	<string>uni1EF0.glif</string>
	<key>uni1EEA</key>
	<string>uni1EEA.glif</string>
	<key>uni1EEC</key>
	<string>uni1EEC.glif</string>
	<key>uni1EEE</key>
	<string>uni1EEE.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut.glif</string>
	<key>uni0216</key>
	<string>uni0216.glif</string>
	<key>Umacron</key>
	<string>Umacron.glif</string>
	<key>uni1E7A</key>
	<string>uni1E7A.glif</string>
	<key>Uogonek</key>
	<string>Uogonek.glif</string>
	<key>Uring</key>
	<string>Uring.glif</string>
	<key>Utilde</key>
	<string>Utilde.glif</string>
	<key>uni1E78</key>
	<string>uni1E78.glif</string>
	<key>V</key>
	<string>V.glif</string>
	<key>W</key>
	<string>W.glif</string>
	<key>Wacute</key>
	<string>Wacute.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis.glif</string>
	<key>Wgrave</key>
	<string>Wgrave.glif</string>
	<key>X</key>
	<string>X.glif</string>
	<key>Y</key>
	<string>Y.glif</string>
	<key>Yacute</key>
	<string>Yacute.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis.glif</string>
	<key>uni1E8E</key>
	<string>uni1E8E.glif</string>
	<key>uni1EF4</key>
	<string>uni1EF4.glif</string>
	<key>Ygrave</key>
	<string>Ygrave.glif</string>
	<key>uni1EF6</key>
	<string>uni1EF6.glif</string>
	<key>uni0232</key>
	<string>uni0232.glif</string>
	<key>uni1EF8</key>
	<string>uni1EF8.glif</string>
	<key>Z</key>
	<string>Z.glif</string>
	<key>Zacute</key>
	<string>Zacute.glif</string>
	<key>Zcaron</key>
	<string>Zcaron.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent.glif</string>
	<key>uni1E92</key>
	<string>uni1E92.glif</string>
	<key>a</key>
	<string>a__1.glif</string>
	<key>aacute</key>
	<string>aacute__1.glif</string>
	<key>abreve</key>
	<string>abreve__1.glif</string>
	<key>uni1EAF</key>
	<string>uni1EAF.glif</string>
	<key>uni1EB7</key>
	<string>uni1EB7.glif</string>
	<key>uni1EB1</key>
	<string>uni1EB1.glif</string>
	<key>uni1EB3</key>
	<string>uni1EB3.glif</string>
	<key>uni1EB5</key>
	<string>uni1EB5.glif</string>
	<key>uni01CE</key>
	<string>uni01CE.glif</string>
	<key>acircumflex</key>
	<string>acircumflex__1.glif</string>
	<key>uni1EA5</key>
	<string>uni1EA5.glif</string>
	<key>uni1EAD</key>
	<string>uni1EAD.glif</string>
	<key>uni1EA7</key>
	<string>uni1EA7.glif</string>
	<key>uni1EA9</key>
	<string>uni1EA9.glif</string>
	<key>uni1EAB</key>
	<string>uni1EAB.glif</string>
	<key>uni0201</key>
	<string>uni0201.glif</string>
	<key>adieresis</key>
	<string>adieresis__1.glif</string>
	<key>uni1EA1</key>
	<string>uni1EA1.glif</string>
	<key>agrave</key>
	<string>agrave__1.glif</string>
	<key>uni1EA3</key>
	<string>uni1EA3.glif</string>
	<key>uni0203</key>
	<string>uni0203.glif</string>
	<key>amacron</key>
	<string>amacron__1.glif</string>
	<key>aogonek</key>
	<string>aogonek__1.glif</string>
	<key>aring</key>
	<string>aring__1.glif</string>
	<key>aringacute</key>
	<string>aringacute__1.glif</string>
	<key>atilde</key>
	<string>atilde__1.glif</string>
	<key>ae</key>
	<string>ae__1.glif</string>
	<key>aeacute</key>
	<string>aeacute__1.glif</string>
	<key>b</key>
	<string>b__1.glif</string>
	<key>c</key>
	<string>c__1.glif</string>
	<key>cacute</key>
	<string>cacute__1.glif</string>
	<key>ccaron</key>
	<string>ccaron__1.glif</string>
	<key>ccedilla</key>
	<string>ccedilla__1.glif</string>
	<key>uni1E09</key>
	<string>uni1E09.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex__1.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent__1.glif</string>
	<key>d</key>
	<string>d__1.glif</string>
	<key>eth</key>
	<string>eth__1.glif</string>
	<key>dcaron</key>
	<string>dcaron__1.glif</string>
	<key>uni1E13</key>
	<string>uni1E13.glif</string>
	<key>dcroat</key>
	<string>dcroat__1.glif</string>
	<key>uni1E0D</key>
	<string>uni1E0D.glif</string>
	<key>uni1E0F</key>
	<string>uni1E0F.glif</string>
	<key>uni01C6</key>
	<string>uni01C6.glif</string>
	<key>e</key>
	<string>e__1.glif</string>
	<key>eacute</key>
	<string>eacute__1.glif</string>
	<key>ebreve</key>
	<string>ebreve__1.glif</string>
	<key>ecaron</key>
	<string>ecaron__1.glif</string>
	<key>uni1E1D</key>
	<string>uni1E1D.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex__1.glif</string>
	<key>uni1EBF</key>
	<string>uni1EBF.glif</string>
	<key>uni1EC7</key>
	<string>uni1EC7.glif</string>
	<key>uni1EC1</key>
	<string>uni1EC1.glif</string>
	<key>uni1EC3</key>
	<string>uni1EC3.glif</string>
	<key>uni1EC5</key>
	<string>uni1EC5.glif</string>
	<key>uni0205</key>
	<string>uni0205.glif</string>
	<key>edieresis</key>
	<string>edieresis__1.glif</string>
	<key>edotaccent</key>
	<string>edotaccent__1.glif</string>
	<key>uni1EB9</key>
	<string>uni1EB9.glif</string>
	<key>egrave</key>
	<string>egrave__1.glif</string>
	<key>uni1EBB</key>
	<string>uni1EBB.glif</string>
	<key>uni0207</key>
	<string>uni0207.glif</string>
	<key>emacron</key>
	<string>emacron__1.glif</string>
	<key>uni1E17</key>
	<string>uni1E17.glif</string>
	<key>uni1E15</key>
	<string>uni1E15.glif</string>
	<key>eogonek</key>
	<string>eogonek__1.glif</string>
	<key>uni1EBD</key>
	<string>uni1EBD.glif</string>
	<key>uni0259</key>
	<string>uni0259.glif</string>
	<key>f</key>
	<string>f__1.glif</string>
	<key>g</key>
	<string>g__1.glif</string>
	<key>gbreve</key>
	<string>gbreve__1.glif</string>
	<key>gcaron</key>
	<string>gcaron__1.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex__1.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent__1.glif</string>
	<key>uni1E21</key>
	<string>uni1E21.glif</string>
	<key>h</key>
	<string>h__1.glif</string>
	<key>hbar</key>
	<string>hbar__1.glif</string>
	<key>uni1E2B</key>
	<string>uni1E2B.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex__1.glif</string>
	<key>uni1E25</key>
	<string>uni1E25.glif</string>
	<key>i</key>
	<string>i__1.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>iacute</key>
	<string>iacute__1.glif</string>
	<key>ibreve</key>
	<string>ibreve__1.glif</string>
	<key>uni01D0</key>
	<string>uni01D0.glif</string>
	<key>icircumflex</key>
	<string>icircumflex__1.glif</string>
	<key>uni0209</key>
	<string>uni0209.glif</string>
	<key>idieresis</key>
	<string>idieresis__1.glif</string>
	<key>uni1E2F</key>
	<string>uni1E2F.glif</string>
	<key>i.loclTRK</key>
	<string>i.loclTRK.glif</string>
	<key>uni1ECB</key>
	<string>uni1ECB.glif</string>
	<key>igrave</key>
	<string>igrave__1.glif</string>
	<key>uni1EC9</key>
	<string>uni1EC9.glif</string>
	<key>uni020B</key>
	<string>uni020B.glif</string>
	<key>ij</key>
	<string>ij__1.glif</string>
	<key>imacron</key>
	<string>imacron__1.glif</string>
	<key>iogonek</key>
	<string>iogonek__1.glif</string>
	<key>itilde</key>
	<string>itilde__1.glif</string>
	<key>j</key>
	<string>j__1.glif</string>
	<key>uni0237</key>
	<string>uni0237.glif</string>
	<key>uni006A0301</key>
	<string>uni006A0301.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex__1.glif</string>
	<key>k</key>
	<string>k__1.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>l</key>
	<string>l__1.glif</string>
	<key>lacute</key>
	<string>lacute__1.glif</string>
	<key>lcaron</key>
	<string>lcaron__1.glif</string>
	<key>uni1E3D</key>
	<string>uni1E3D.glif</string>
	<key>uni013C</key>
	<string>uni013C.glif</string>
	<key>ldot</key>
	<string>ldot__1.glif</string>
	<key>uni1E37</key>
	<string>uni1E37.glif</string>
	<key>uni01C9</key>
	<string>uni01C9.glif</string>
	<key>uni1E3B</key>
	<string>uni1E3B.glif</string>
	<key>lslash</key>
	<string>lslash__1.glif</string>
	<key>m</key>
	<string>m__1.glif</string>
	<key>uni1E43</key>
	<string>uni1E43.glif</string>
	<key>n</key>
	<string>n__1.glif</string>
	<key>nacute</key>
	<string>nacute__1.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>ncaron</key>
	<string>ncaron__1.glif</string>
	<key>uni1E4B</key>
	<string>uni1E4B.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni1E45</key>
	<string>uni1E45.glif</string>
	<key>uni1E47</key>
	<string>uni1E47.glif</string>
	<key>uni0272</key>
	<string>uni0272.glif</string>
	<key>uni01CC</key>
	<string>uni01CC.glif</string>
	<key>uni1E49</key>
	<string>uni1E49.glif</string>
	<key>ntilde</key>
	<string>ntilde__1.glif</string>
	<key>eng</key>
	<string>eng__1.glif</string>
	<key>o</key>
	<string>o__1.glif</string>
	<key>oacute</key>
	<string>oacute__1.glif</string>
	<key>obreve</key>
	<string>obreve__1.glif</string>
	<key>uni01D2</key>
	<string>uni01D2.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex__1.glif</string>
	<key>uni1ED1</key>
	<string>uni1ED1.glif</string>
	<key>uni1ED9</key>
	<string>uni1ED9.glif</string>
	<key>uni1ED3</key>
	<string>uni1ED3.glif</string>
	<key>uni1ED5</key>
	<string>uni1ED5.glif</string>
	<key>uni1ED7</key>
	<string>uni1ED7.glif</string>
	<key>uni020D</key>
	<string>uni020D.glif</string>
	<key>odieresis</key>
	<string>odieresis__1.glif</string>
	<key>uni022B</key>
	<string>uni022B.glif</string>
	<key>uni0231</key>
	<string>uni0231.glif</string>
	<key>uni1ECD</key>
	<string>uni1ECD.glif</string>
	<key>ograve</key>
	<string>ograve__1.glif</string>
	<key>uni1ECF</key>
	<string>uni1ECF.glif</string>
	<key>ohorn</key>
	<string>ohorn__1.glif</string>
	<key>uni1EDB</key>
	<string>uni1EDB.glif</string>
	<key>uni1EE3</key>
	<string>uni1EE3.glif</string>
	<key>uni1EDD</key>
	<string>uni1EDD.glif</string>
	<key>uni1EDF</key>
	<string>uni1EDF.glif</string>
	<key>uni1EE1</key>
	<string>uni1EE1.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut__1.glif</string>
	<key>uni020F</key>
	<string>uni020F.glif</string>
	<key>omacron</key>
	<string>omacron__1.glif</string>
	<key>uni1E53</key>
	<string>uni1E53.glif</string>
	<key>uni1E51</key>
	<string>uni1E51.glif</string>
	<key>uni01EB</key>
	<string>uni01EB.glif</string>
	<key>oslash</key>
	<string>oslash__1.glif</string>
	<key>oslashacute</key>
	<string>oslashacute__1.glif</string>
	<key>otilde</key>
	<string>otilde__1.glif</string>
	<key>uni1E4D</key>
	<string>uni1E4D.glif</string>
	<key>uni1E4F</key>
	<string>uni1E4F.glif</string>
	<key>uni022D</key>
	<string>uni022D.glif</string>
	<key>oe</key>
	<string>oe__1.glif</string>
	<key>p</key>
	<string>p__1.glif</string>
	<key>thorn</key>
	<string>thorn__1.glif</string>
	<key>q</key>
	<string>q__1.glif</string>
	<key>r</key>
	<string>r__1.glif</string>
	<key>racute</key>
	<string>racute__1.glif</string>
	<key>rcaron</key>
	<string>rcaron__1.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni0211</key>
	<string>uni0211.glif</string>
	<key>uni1E5B</key>
	<string>uni1E5B.glif</string>
	<key>uni0213</key>
	<string>uni0213.glif</string>
	<key>uni1E5F</key>
	<string>uni1E5F.glif</string>
	<key>s</key>
	<string>s__1.glif</string>
	<key>sacute</key>
	<string>sacute__1.glif</string>
	<key>uni1E65</key>
	<string>uni1E65.glif</string>
	<key>scaron</key>
	<string>scaron__1.glif</string>
	<key>uni1E67</key>
	<string>uni1E67.glif</string>
	<key>scedilla</key>
	<string>scedilla__1.glif</string>
	<key>scircumflex</key>
	<string>scircumflex__1.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni1E61</key>
	<string>uni1E61.glif</string>
	<key>uni1E63</key>
	<string>uni1E63.glif</string>
	<key>uni1E69</key>
	<string>uni1E69.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>t</key>
	<string>t__1.glif</string>
	<key>tbar</key>
	<string>tbar__1.glif</string>
	<key>tcaron</key>
	<string>tcaron__1.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni1E71</key>
	<string>uni1E71.glif</string>
	<key>uni021B</key>
	<string>uni021B.glif</string>
	<key>uni1E97</key>
	<string>uni1E97.glif</string>
	<key>uni1E6D</key>
	<string>uni1E6D.glif</string>
	<key>uni1E6F</key>
	<string>uni1E6F.glif</string>
	<key>u</key>
	<string>u__1.glif</string>
	<key>uacute</key>
	<string>uacute__1.glif</string>
	<key>ubreve</key>
	<string>ubreve__1.glif</string>
	<key>uni01D4</key>
	<string>uni01D4.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex__1.glif</string>
	<key>uni0215</key>
	<string>uni0215.glif</string>
	<key>udieresis</key>
	<string>udieresis__1.glif</string>
	<key>uni1EE5</key>
	<string>uni1EE5.glif</string>
	<key>ugrave</key>
	<string>ugrave__1.glif</string>
	<key>uni1EE7</key>
	<string>uni1EE7.glif</string>
	<key>uhorn</key>
	<string>uhorn__1.glif</string>
	<key>uni1EE9</key>
	<string>uni1EE9.glif</string>
	<key>uni1EF1</key>
	<string>uni1EF1.glif</string>
	<key>uni1EEB</key>
	<string>uni1EEB.glif</string>
	<key>uni1EED</key>
	<string>uni1EED.glif</string>
	<key>uni1EEF</key>
	<string>uni1EEF.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut__1.glif</string>
	<key>uni0217</key>
	<string>uni0217.glif</string>
	<key>umacron</key>
	<string>umacron__1.glif</string>
	<key>uni1E7B</key>
	<string>uni1E7B.glif</string>
	<key>uogonek</key>
	<string>uogonek__1.glif</string>
	<key>uring</key>
	<string>uring__1.glif</string>
	<key>utilde</key>
	<string>utilde__1.glif</string>
	<key>uni1E79</key>
	<string>uni1E79.glif</string>
	<key>v</key>
	<string>v__1.glif</string>
	<key>w</key>
	<string>w__1.glif</string>
	<key>wacute</key>
	<string>wacute__1.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex__1.glif</string>
	<key>wdieresis</key>
	<string>wdieresis__1.glif</string>
	<key>wgrave</key>
	<string>wgrave__1.glif</string>
	<key>x</key>
	<string>x__1.glif</string>
	<key>y</key>
	<string>y__1.glif</string>
	<key>yacute</key>
	<string>yacute__1.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex__1.glif</string>
	<key>ydieresis</key>
	<string>ydieresis__1.glif</string>
	<key>uni1E8F</key>
	<string>uni1E8F.glif</string>
	<key>uni1EF5</key>
	<string>uni1EF5.glif</string>
	<key>ygrave</key>
	<string>ygrave__1.glif</string>
	<key>uni1EF7</key>
	<string>uni1EF7.glif</string>
	<key>uni0233</key>
	<string>uni0233.glif</string>
	<key>uni1EF9</key>
	<string>uni1EF9.glif</string>
	<key>z</key>
	<string>z__1.glif</string>
	<key>zacute</key>
	<string>zacute__1.glif</string>
	<key>zcaron</key>
	<string>zcaron__1.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent__1.glif</string>
	<key>uni1E93</key>
	<string>uni1E93.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>aacute.ss01</key>
	<string>aacute.ss01.glif</string>
	<key>abreve.ss01</key>
	<string>abreve.ss01.glif</string>
	<key>uni1EAF.ss01</key>
	<string>uni1EAF.ss01.glif</string>
	<key>uni1EB7.ss01</key>
	<string>uni1EB7.ss01.glif</string>
	<key>uni1EB1.ss01</key>
	<string>uni1EB1.ss01.glif</string>
	<key>uni1EB3.ss01</key>
	<string>uni1EB3.ss01.glif</string>
	<key>uni1EB5.ss01</key>
	<string>uni1EB5.ss01.glif</string>
	<key>uni01CE.ss01</key>
	<string>uni01CE.ss01.glif</string>
	<key>acircumflex.ss01</key>
	<string>acircumflex.ss01.glif</string>
	<key>uni1EA5.ss01</key>
	<string>uni1EA5.ss01.glif</string>
	<key>uni1EAD.ss01</key>
	<string>uni1EAD.ss01.glif</string>
	<key>uni1EA7.ss01</key>
	<string>uni1EA7.ss01.glif</string>
	<key>uni1EA9.ss01</key>
	<string>uni1EA9.ss01.glif</string>
	<key>uni1EAB.ss01</key>
	<string>uni1EAB.ss01.glif</string>
	<key>uni0201.ss01</key>
	<string>uni0201.ss01.glif</string>
	<key>adieresis.ss01</key>
	<string>adieresis.ss01.glif</string>
	<key>uni1EA1.ss01</key>
	<string>uni1EA1.ss01.glif</string>
	<key>agrave.ss01</key>
	<string>agrave.ss01.glif</string>
	<key>uni1EA3.ss01</key>
	<string>uni1EA3.ss01.glif</string>
	<key>uni0203.ss01</key>
	<string>uni0203.ss01.glif</string>
	<key>amacron.ss01</key>
	<string>amacron.ss01.glif</string>
	<key>aogonek.ss01</key>
	<string>aogonek.ss01.glif</string>
	<key>aring.ss01</key>
	<string>aring.ss01.glif</string>
	<key>aringacute.ss01</key>
	<string>aringacute.ss01.glif</string>
	<key>atilde.ss01</key>
	<string>atilde.ss01.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>gbreve.ss01</key>
	<string>gbreve.ss01.glif</string>
	<key>gcaron.ss01</key>
	<string>gcaron.ss01.glif</string>
	<key>gcircumflex.ss01</key>
	<string>gcircumflex.ss01.glif</string>
	<key>uni0123.ss01</key>
	<string>uni0123.ss01.glif</string>
	<key>gdotaccent.ss01</key>
	<string>gdotaccent.ss01.glif</string>
	<key>uni1E21.ss01</key>
	<string>uni1E21.ss01.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_ij</key>
	<string>f_f_ij.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>f_ij</key>
	<string>f_ij.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>zero.zero</key>
	<string>zero.zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>uni2080</key>
	<string>uni2080.glif</string>
	<key>uni2081</key>
	<string>uni2081.glif</string>
	<key>uni2082</key>
	<string>uni2082.glif</string>
	<key>uni2083</key>
	<string>uni2083.glif</string>
	<key>uni2084</key>
	<string>uni2084.glif</string>
	<key>uni2085</key>
	<string>uni2085.glif</string>
	<key>uni2086</key>
	<string>uni2086.glif</string>
	<key>uni2087</key>
	<string>uni2087.glif</string>
	<key>uni2088</key>
	<string>uni2088.glif</string>
	<key>uni2089</key>
	<string>uni2089.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>uni2070</key>
	<string>uni2070.glif</string>
	<key>uni00B9</key>
	<string>uni00B9.glif</string>
	<key>uni00B2</key>
	<string>uni00B2.glif</string>
	<key>uni00B3</key>
	<string>uni00B3.glif</string>
	<key>uni2074</key>
	<string>uni2074.glif</string>
	<key>uni2075</key>
	<string>uni2075.glif</string>
	<key>uni2076</key>
	<string>uni2076.glif</string>
	<key>uni2077</key>
	<string>uni2077.glif</string>
	<key>uni2078</key>
	<string>uni2078.glif</string>
	<key>uni2079</key>
	<string>uni2079.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>CR</key>
	<string>CR.glif</string>
	<key>uni2007</key>
	<string>uni2007.glif</string>
	<key>uni200A</key>
	<string>uni200A.glif</string>
	<key>uni2008</key>
	<string>uni2008.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>uni00A0</key>
	<string>uni00A0.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>uni200B</key>
	<string>uni200B.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>periodcentered.case</key>
	<string>periodcentered.case.glif</string>
	<key>bullet.case</key>
	<string>bullet.case.glif</string>
	<key>slash.case</key>
	<string>slash.case.glif</string>
	<key>backslash.case</key>
	<string>backslash.case.glif</string>
	<key>periodcentered.loclCAT</key>
	<string>periodcentered.loclCAT.glif</string>
	<key>periodcentered.loclCAT.case</key>
	<string>periodcentered.loclCAT.case.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>uni00AD</key>
	<string>uni00AD.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>figuredash</key>
	<string>figuredash.glif</string>
	<key>uni2015</key>
	<string>uni2015.glif</string>
	<key>uni2010</key>
	<string>uni2010.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>hyphen.case</key>
	<string>hyphen.case.glif</string>
	<key>endash.case</key>
	<string>endash.case.glif</string>
	<key>emdash.case</key>
	<string>emdash.case.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>parenleft.case</key>
	<string>parenleft.case.glif</string>
	<key>parenright.case</key>
	<string>parenright.case.glif</string>
	<key>braceleft.case</key>
	<string>braceleft.case.glif</string>
	<key>braceright.case</key>
	<string>braceright.case.glif</string>
	<key>bracketleft.case</key>
	<string>bracketleft.case.glif</string>
	<key>bracketright.case</key>
	<string>bracketright.case.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>guillemotleft.case</key>
	<string>guillemotleft.case.glif</string>
	<key>guillemotright.case</key>
	<string>guillemotright.case.glif</string>
	<key>guilsinglleft.case</key>
	<string>guilsinglleft.case.glif</string>
	<key>guilsinglright.case</key>
	<string>guilsinglright.case.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>second</key>
	<string>second.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>uni2116</key>
	<string>uni2116.glif</string>
	<key>at.case</key>
	<string>at.case.glif</string>
	<key>uni20B5</key>
	<string>uni20B5.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colonmonetary</key>
	<string>colonmonetary.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dong</key>
	<string>dong.glif</string>
	<key>Euro</key>
	<string>Euro.glif</string>
	<key>franc</key>
	<string>franc.glif</string>
	<key>uni20B2</key>
	<string>uni20B2.glif</string>
	<key>uni20AD</key>
	<string>uni20AD.glif</string>
	<key>lira</key>
	<string>lira.glif</string>
	<key>uni20BA</key>
	<string>uni20BA.glif</string>
	<key>uni20BC</key>
	<string>uni20BC.glif</string>
	<key>uni20A6</key>
	<string>uni20A6.glif</string>
	<key>peseta</key>
	<string>peseta.glif</string>
	<key>uni20B1</key>
	<string>uni20B1.glif</string>
	<key>uni20BD</key>
	<string>uni20BD.glif</string>
	<key>uni20B9</key>
	<string>uni20B9.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>uni20A9</key>
	<string>uni20A9.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>emptyset</key>
	<string>emptyset.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>uni00B5</key>
	<string>uni00B5.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>uni03060301</key>
	<string>uni03060301.glif</string>
	<key>uni03060300</key>
	<string>uni03060300.glif</string>
	<key>uni03060309</key>
	<string>uni03060309.glif</string>
	<key>uni03060303</key>
	<string>uni03060303.glif</string>
	<key>uni03020301</key>
	<string>uni03020301.glif</string>
	<key>uni03020300</key>
	<string>uni03020300.glif</string>
	<key>uni03020309</key>
	<string>uni03020309.glif</string>
	<key>uni03020303</key>
	<string>uni03020303.glif</string>
	<key>uni0308</key>
	<string>uni0308.glif</string>
	<key>uni0307</key>
	<string>uni0307.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>uni030B</key>
	<string>uni030B.glif</string>
	<key>uni030C.alt</key>
	<string>uni030C.alt.glif</string>
	<key>uni0302</key>
	<string>uni0302.glif</string>
	<key>uni030C</key>
	<string>uni030C.glif</string>
	<key>uni0306</key>
	<string>uni0306.glif</string>
	<key>uni030A</key>
	<string>uni030A.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>uni0304</key>
	<string>uni0304.glif</string>
	<key>hookabovecomb</key>
	<string>hookabovecomb.glif</string>
	<key>uni030F</key>
	<string>uni030F.glif</string>
	<key>uni0311</key>
	<string>uni0311.glif</string>
	<key>uni0312</key>
	<string>uni0312.glif</string>
	<key>uni031B</key>
	<string>uni031B.glif</string>
	<key>dotbelowcomb</key>
	<string>dotbelowcomb.glif</string>
	<key>uni0324</key>
	<string>uni0324.glif</string>
	<key>uni0326</key>
	<string>uni0326.glif</string>
	<key>uni0327</key>
	<string>uni0327.glif</string>
	<key>uni0328</key>
	<string>uni0328.glif</string>
	<key>uni032D</key>
	<string>uni032D.glif</string>
	<key>uni032E</key>
	<string>uni032E.glif</string>
	<key>uni0331</key>
	<string>uni0331.glif</string>
	<key>uni0335</key>
	<string>uni0335.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>uni02C9</key>
	<string>uni02C9.glif</string>
	<key>uni02CA</key>
	<string>uni02CA.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>uni02CB</key>
	<string>uni02CB.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>uni0308.case</key>
	<string>uni0308.case.glif</string>
	<key>uni0307.case</key>
	<string>uni0307.case.glif</string>
	<key>gravecomb.case</key>
	<string>gravecomb.case.glif</string>
	<key>acutecomb.case</key>
	<string>acutecomb.case.glif</string>
	<key>uni030B.case</key>
	<string>uni030B.case.glif</string>
	<key>uni0302.case</key>
	<string>uni0302.case.glif</string>
	<key>uni030C.case</key>
	<string>uni030C.case.glif</string>
	<key>uni0306.case</key>
	<string>uni0306.case.glif</string>
	<key>uni030A.case</key>
	<string>uni030A.case.glif</string>
	<key>tildecomb.case</key>
	<string>tildecomb.case.glif</string>
	<key>uni0304.case</key>
	<string>uni0304.case.glif</string>
	<key>hookabovecomb.case</key>
	<string>hookabovecomb.case.glif</string>
	<key>uni030F.case</key>
	<string>uni030F.case.glif</string>
	<key>uni0311.case</key>
	<string>uni0311.case.glif</string>
	<key>uni031B.case</key>
	<string>uni031B.case.glif</string>
	<key>dotbelowcomb.case</key>
	<string>dotbelowcomb.case.glif</string>
	<key>uni0324.case</key>
	<string>uni0324.case.glif</string>
	<key>uni0326.case</key>
	<string>uni0326.case.glif</string>
	<key>uni0327.case</key>
	<string>uni0327.case.glif</string>
	<key>uni0328.case</key>
	<string>uni0328.case.glif</string>
	<key>uni032E.case</key>
	<string>uni032E.case.glif</string>
	<key>uni0331.case</key>
	<string>uni0331.case.glif</string>
	<key>uni02BC</key>
	<string>uni02BC.glif</string>
	<key>uni02BB</key>
	<string>uni02BB.glif</string>
	<key>uni02B9</key>
	<string>uni02B9.glif</string>
	<key>uni02BF</key>
	<string>uni02BF.glif</string>
	<key>uni02BE</key>
	<string>uni02BE.glif</string>
	<key>uni02CC</key>
	<string>uni02CC.glif</string>
	<key>uni02C8</key>
	<string>uni02C8.glif</string>
	<key>O_uni030D</key>
	<string>O_uni030D.glif</string>
	<key>uni030D</key>
	<string>uni030D.glif</string>
	<key>uni0358</key>
	<string>uni0358.glif</string>
	<key>i_hungarumlautcomb</key>
	<string>i_hungarumlautcomb.glif</string>
	<key>i_verticallineabovecomb</key>
	<string>i_verticallineabovecomb.glif</string>
	<key>uni01D7</key>
	<string>uni01D7.glif</string>
	<key>uni01DB</key>
	<string>uni01DB.glif</string>
	<key>ecircumflex_uni030C</key>
	<string>ecircumflex_uni030C.glif</string>
	<key>Ecircumflex_uni030C</key>
	<string>Ecircumflex_uni030C__1.glif</string>
	<key>uni207F</key>
	<string>uni207F.glif</string>
	<key>uni1D3A</key>
	<string>uni1D3A.glif</string>
	<key>Ecircumflex_uni0304</key>
	<string>Ecircumflex_uni0304.glif</string>
	<key>uni1E3E</key>
	<string>uni1E3E.glif</string>
	<key>M_gravecomb</key>
	<string>M_gravecomb.glif</string>
	<key>uni01F8</key>
	<string>uni01F8.glif</string>
	<key>ecircumflex_uni0304</key>
	<string>ecircumflex_uni0304__1.glif</string>
	<key>n_uni0304</key>
	<string>n_uni0304.glif</string>
	<key>N_uni0304</key>
	<string>N_uni0304__1.glif</string>
	<key>a_uni030D</key>
	<string>a_uni030D.glif</string>
	<key>a_uni030B</key>
	<string>a_uni030B.glif</string>
	<key>e_uni030D</key>
	<string>e_uni030D.glif</string>
	<key>e_uni030B</key>
	<string>e_uni030B.glif</string>
	<key>o_uni030D</key>
	<string>o_uni030D__1.glif</string>
	<key>u_uni030D</key>
	<string>u_uni030D.glif</string>
	<key>m_uni030D</key>
	<string>m_uni030D.glif</string>
	<key>n_uni030D</key>
	<string>n_uni030D.glif</string>
	<key>A_uni030D</key>
	<string>A_uni030D__1.glif</string>
	<key>A_uni030B</key>
	<string>A_uni030B__1.glif</string>
	<key>E_uni030D</key>
	<string>E_uni030D__1.glif</string>
	<key>E_uni030B</key>
	<string>E_uni030B__1.glif</string>
	<key>I_uni030D</key>
	<string>I_uni030D.glif</string>
	<key>I_uni030B</key>
	<string>I_uni030B.glif</string>
	<key>U_uni030D</key>
	<string>U_uni030D__1.glif</string>
	<key>M_uni030D</key>
	<string>M_uni030D__1.glif</string>
	<key>N_uni030D</key>
	<string>N_uni030D__1.glif</string>
	<key>uni25CC</key>
	<string>uni25CC.glif</string>
	<key>o_uni0358</key>
	<string>o_uni0358.glif</string>
	<key>oacute_uni0358</key>
	<string>oacute_uni0358.glif</string>
	<key>ograve_uni0358</key>
	<string>ograve_uni0358.glif</string>
	<key>ocircumflex_uni0358</key>
	<string>ocircumflex_uni0358.glif</string>
	<key>uni01D2_uni0358</key>
	<string>uni01D2_uni0358.glif</string>
	<key>omacron_uni0358</key>
	<string>omacron_uni0358.glif</string>
	<key>o_uni030D_uni0358</key>
	<string>o_uni030D_uni0358.glif</string>
	<key>obreve_uni0358</key>
	<string>obreve_uni0358.glif</string>
	<key>ohungarumlaut_uni0358</key>
	<string>ohungarumlaut_uni0358.glif</string>
	<key>O_uni0358</key>
	<string>O_uni0358__1.glif</string>
	<key>Oacute_uni0358</key>
	<string>Oacute_uni0358__1.glif</string>
	<key>Ograve_uni0358</key>
	<string>Ograve_uni0358__1.glif</string>
	<key>Ocircumflex_uni0358</key>
	<string>Ocircumflex_uni0358__1.glif</string>
	<key>uni01D1_uni0358</key>
	<string>uni01D1_uni0358.glif</string>
	<key>Omacron_uni0358</key>
	<string>Omacron_uni0358__1.glif</string>
	<key>O_uni030D_uni0358</key>
	<string>O_uni030D_uni0358__1.glif</string>
	<key>Obreve_uni0358</key>
	<string>Obreve_uni0358__1.glif</string>
	<key>Ohungarumlaut_uni0358</key>
	<string>Ohungarumlaut_uni0358__1.glif</string>
	<key>uni01D6</key>
	<string>uni01D6.glif</string>
	<key>uni01D8</key>
	<string>uni01D8.glif</string>
	<key>uni01DA</key>
	<string>uni01DA.glif</string>
	<key>uni01DC</key>
	<string>uni01DC.glif</string>
	<key>uni01D5</key>
	<string>uni01D5.glif</string>
	<key>uni01D9</key>
	<string>uni01D9.glif</string>
	<key>uni1E3F</key>
	<string>uni1E3F.glif</string>
	<key>uni01F9</key>
	<string>uni01F9.glif</string>
	<key>uni025B</key>
	<string>uni025B.glif</string>
	<key>uni025D</key>
	<string>uni025D.glif</string>
	<key>uni026A</key>
	<string>uni026A.glif</string>
	<key>uni0251</key>
	<string>uni0251.glif</string>
	<key>uni0254</key>
	<string>uni0254.glif</string>
	<key>uni028C</key>
	<string>uni028C.glif</string>
	<key>uni02D0</key>
	<string>uni02D0.glif</string>
	<key>theta</key>
	<string>theta.glif</string>
	<key>uni0283</key>
	<string>uni0283.glif</string>
	<key>uni0292</key>
	<string>uni0292.glif</string>
	<key>uni0374</key>
	<string>uni0374.glif</string>
	<key>uni0375</key>
	<string>uni0375.glif</string>
	<key>uni025A</key>
	<string>uni025A.glif</string>
	<key>uni0268</key>
	<string>uni0268.glif</string>
	<key>uni0197</key>
	<string>uni0197.glif</string>
	<key>uni0289</key>
	<string>uni0289.glif</string>
	<key>uni0244</key>
	<string>uni0244.glif</string>
	<key>E_uni030A</key>
	<string>E_uni030A.glif</string>
	<key>e_uni030A</key>
	<string>e_uni030A__1.glif</string>
	<key>uni2035</key>
	<string>uni2035.glif</string>
	<key>uni207A</key>
	<string>uni207A.glif</string>
	<key>uni028A</key>
	<string>uni028A.glif</string>
	<key>underscore_uni0307</key>
	<string>underscore_uni0307.glif</string>
	<key>uni02CD</key>
	<string>uni02CD.glif</string>
	<key>uni0336</key>
	<string>uni0336.glif</string>
	<key>uni035C</key>
	<string>uni035C.glif</string>
	<key>uni1E73</key>
	<string>uni1E73.glif</string>
	<key>uni1E72</key>
	<string>uni1E72.glif</string>
	<key>uni1E99</key>
	<string>uni1E99.glif</string>
</dict>
</plist>
