<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>uni0200</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>uni0202</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>uni1E08</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>uni01C4</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>uni1E12</string>
		<string>Dcroat</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>uni01F2</string>
		<string>uni01C5</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>uni1E1C</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>uni0204</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>uni0206</string>
		<string>Emacron</string>
		<string>uni1E16</string>
		<string>uni1E14</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>uni1E20</string>
		<string>H</string>
		<string>Hbar</string>
		<string>uni1E2A</string>
		<string>Hcircumflex</string>
		<string>uni1E24</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>uni0208</string>
		<string>Idieresis</string>
		<string>uni1E2E</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>uni020A</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>uni004A0301</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>uni01C7</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni1E3C</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>uni1E36</string>
		<string>uni01C8</string>
		<string>uni1E3A</string>
		<string>Lslash</string>
		<string>M</string>
		<string>uni1E42</string>
		<string>N</string>
		<string>uni01CA</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni1E4A</string>
		<string>uni0145</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>uni019D</string>
		<string>uni01CB</string>
		<string>uni1E48</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>uni020C</string>
		<string>Odieresis</string>
		<string>uni022A</string>
		<string>uni0230</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Ohungarumlaut</string>
		<string>uni020E</string>
		<string>Omacron</string>
		<string>uni1E52</string>
		<string>uni1E50</string>
		<string>uni01EA</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>uni1E4C</string>
		<string>uni1E4E</string>
		<string>uni022C</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>uni0210</string>
		<string>uni1E5A</string>
		<string>uni0212</string>
		<string>uni1E5E</string>
		<string>S</string>
		<string>Sacute</string>
		<string>uni1E64</string>
		<string>Scaron</string>
		<string>uni1E66</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>uni1E68</string>
		<string>uni1E9E</string>
		<string>uni018F</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni1E70</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>uni0214</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Uhungarumlaut</string>
		<string>uni0216</string>
		<string>Umacron</string>
		<string>uni1E7A</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni1E78</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1E8E</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni0232</string>
		<string>uni1EF8</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni1E92</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni01CE</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>uni0201</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>uni0203</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>uni1E09</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>uni1E13</string>
		<string>dcroat</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>uni01C6</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>uni1E1D</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>uni0205</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>uni0207</string>
		<string>emacron</string>
		<string>uni1E17</string>
		<string>uni1E15</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni0259</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>uni1E21</string>
		<string>h</string>
		<string>hbar</string>
		<string>uni1E2B</string>
		<string>hcircumflex</string>
		<string>uni1E25</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>uni01D0</string>
		<string>icircumflex</string>
		<string>uni0209</string>
		<string>idieresis</string>
		<string>uni1E2F</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>uni020B</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>uni0237</string>
		<string>uni006A0301</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni1E3D</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>uni1E37</string>
		<string>uni01C9</string>
		<string>uni1E3B</string>
		<string>lslash</string>
		<string>m</string>
		<string>uni1E43</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>uni1E4B</string>
		<string>uni0146</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>uni0272</string>
		<string>uni01CC</string>
		<string>uni1E49</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>uni01D2</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>uni020D</string>
		<string>odieresis</string>
		<string>uni022B</string>
		<string>uni0231</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>uni020F</string>
		<string>omacron</string>
		<string>uni1E53</string>
		<string>uni1E51</string>
		<string>uni01EB</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>uni1E4D</string>
		<string>uni1E4F</string>
		<string>uni022D</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>uni0211</string>
		<string>uni1E5B</string>
		<string>uni0213</string>
		<string>uni1E5F</string>
		<string>s</string>
		<string>sacute</string>
		<string>uni1E65</string>
		<string>scaron</string>
		<string>uni1E67</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>uni1E69</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni1E71</string>
		<string>uni021B</string>
		<string>uni1E97</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>ucircumflex</string>
		<string>uni0215</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uhungarumlaut</string>
		<string>uni0217</string>
		<string>umacron</string>
		<string>uni1E7B</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>uni1E79</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1E8F</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni0233</string>
		<string>uni1EF9</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>uni1E93</string>
		<string>a.ss01</string>
		<string>aacute.ss01</string>
		<string>abreve.ss01</string>
		<string>uni1EAF.ss01</string>
		<string>uni1EB7.ss01</string>
		<string>uni1EB1.ss01</string>
		<string>uni1EB3.ss01</string>
		<string>uni1EB5.ss01</string>
		<string>uni01CE.ss01</string>
		<string>acircumflex.ss01</string>
		<string>uni1EA5.ss01</string>
		<string>uni1EAD.ss01</string>
		<string>uni1EA7.ss01</string>
		<string>uni1EA9.ss01</string>
		<string>uni1EAB.ss01</string>
		<string>uni0201.ss01</string>
		<string>adieresis.ss01</string>
		<string>uni1EA1.ss01</string>
		<string>agrave.ss01</string>
		<string>uni1EA3.ss01</string>
		<string>uni0203.ss01</string>
		<string>amacron.ss01</string>
		<string>aogonek.ss01</string>
		<string>aring.ss01</string>
		<string>aringacute.ss01</string>
		<string>atilde.ss01</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gcaron.ss01</string>
		<string>gcircumflex.ss01</string>
		<string>uni0123.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>uni1E21.ss01</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_ij</string>
		<string>f_f_l</string>
		<string>f_ij</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.zero</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>uni2070</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>CR</string>
		<string>uni2007</string>
		<string>uni200A</string>
		<string>uni2008</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2009</string>
		<string>uni200B</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>periodcentered.case</string>
		<string>bullet.case</string>
		<string>slash.case</string>
		<string>backslash.case</string>
		<string>periodcentered.loclCAT</string>
		<string>periodcentered.loclCAT.case</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>figuredash</string>
		<string>uni2015</string>
		<string>uni2010</string>
		<string>underscore</string>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft.case</string>
		<string>parenright.case</string>
		<string>braceleft.case</string>
		<string>braceright.case</string>
		<string>bracketleft.case</string>
		<string>bracketright.case</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>guillemotleft.case</string>
		<string>guillemotright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
		<string>florin</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>second</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>uni2113</string>
		<string>daggerdbl</string>
		<string>estimated</string>
		<string>uni2116</string>
		<string>at.case</string>
		<string>uni20B5</string>
		<string>cent</string>
		<string>colonmonetary</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>Euro</string>
		<string>franc</string>
		<string>uni20B2</string>
		<string>uni20AD</string>
		<string>lira</string>
		<string>uni20BA</string>
		<string>uni20BC</string>
		<string>uni20A6</string>
		<string>peseta</string>
		<string>uni20B1</string>
		<string>uni20BD</string>
		<string>uni20B9</string>
		<string>sterling</string>
		<string>uni20A9</string>
		<string>yen</string>
		<string>uni2219</string>
		<string>uni2215</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>emptyset</string>
		<string>infinity</string>
		<string>integral</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>uni00B5</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>lozenge</string>
		<string>uni03060301</string>
		<string>uni03060300</string>
		<string>uni03060309</string>
		<string>uni03060303</string>
		<string>uni03020301</string>
		<string>uni03020300</string>
		<string>uni03020309</string>
		<string>uni03020303</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni030C.alt</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>hookabovecomb</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>uni0312</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0324</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni032D</string>
		<string>uni032E</string>
		<string>uni0331</string>
		<string>uni0335</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>uni02C9</string>
		<string>uni02CA</string>
		<string>caron</string>
		<string>uni02CB</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>uni0308.case</string>
		<string>uni0307.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>uni030B.case</string>
		<string>uni0302.case</string>
		<string>uni030C.case</string>
		<string>uni0306.case</string>
		<string>uni030A.case</string>
		<string>tildecomb.case</string>
		<string>uni0304.case</string>
		<string>hookabovecomb.case</string>
		<string>uni030F.case</string>
		<string>uni0311.case</string>
		<string>uni031B.case</string>
		<string>dotbelowcomb.case</string>
		<string>uni0324.case</string>
		<string>uni0326.case</string>
		<string>uni0327.case</string>
		<string>uni0328.case</string>
		<string>uni032E.case</string>
		<string>uni0331.case</string>
		<string>uni02BC</string>
		<string>uni02BB</string>
		<string>uni02B9</string>
		<string>uni02BF</string>
		<string>uni02BE</string>
		<string>uni02CC</string>
		<string>uni02C8</string>
		<string>O_uni030D</string>
		<string>uni030D</string>
		<string>uni0358</string>
		<string>i_hungarumlautcomb</string>
		<string>i_verticallineabovecomb</string>
		<string>uni01D7</string>
		<string>uni01DB</string>
		<string>ecircumflex_uni030C</string>
		<string>Ecircumflex_uni030C</string>
		<string>uni207F</string>
		<string>uni1D3A</string>
		<string>Ecircumflex_uni0304</string>
		<string>uni1E3E</string>
		<string>M_gravecomb</string>
		<string>uni01F8</string>
		<string>ecircumflex_uni0304</string>
		<string>n_uni0304</string>
		<string>N_uni0304</string>
		<string>a_uni030D</string>
		<string>a_uni030B</string>
		<string>e_uni030D</string>
		<string>e_uni030B</string>
		<string>o_uni030D</string>
		<string>u_uni030D</string>
		<string>m_uni030D</string>
		<string>n_uni030D</string>
		<string>A_uni030D</string>
		<string>A_uni030B</string>
		<string>E_uni030D</string>
		<string>E_uni030B</string>
		<string>I_uni030D</string>
		<string>I_uni030B</string>
		<string>U_uni030D</string>
		<string>M_uni030D</string>
		<string>N_uni030D</string>
		<string>uni25CC</string>
		<string>o_uni0358</string>
		<string>oacute_uni0358</string>
		<string>ograve_uni0358</string>
		<string>ocircumflex_uni0358</string>
		<string>uni01D2_uni0358</string>
		<string>omacron_uni0358</string>
		<string>o_uni030D_uni0358</string>
		<string>obreve_uni0358</string>
		<string>ohungarumlaut_uni0358</string>
		<string>O_uni0358</string>
		<string>Oacute_uni0358</string>
		<string>Ograve_uni0358</string>
		<string>Ocircumflex_uni0358</string>
		<string>uni01D1_uni0358</string>
		<string>Omacron_uni0358</string>
		<string>O_uni030D_uni0358</string>
		<string>Obreve_uni0358</string>
		<string>Ohungarumlaut_uni0358</string>
		<string>uni01D6</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01D5</string>
		<string>uni01D9</string>
		<string>uni1E3F</string>
		<string>uni01F9</string>
		<string>uni025B</string>
		<string>uni025D</string>
		<string>uni026A</string>
		<string>uni0251</string>
		<string>uni0254</string>
		<string>uni028C</string>
		<string>uni02D0</string>
		<string>theta</string>
		<string>uni0283</string>
		<string>uni0292</string>
		<string>uni0374</string>
		<string>uni0375</string>
		<string>uni025A</string>
		<string>uni0268</string>
		<string>uni0197</string>
		<string>uni0289</string>
		<string>uni0244</string>
		<string>E_uni030A</string>
		<string>e_uni030A</string>
		<string>uni2035</string>
		<string>uni207A</string>
		<string>uni028A</string>
		<string>underscore_uni0307</string>
		<string>uni02CD</string>
		<string>uni0336</string>
		<string>uni035C</string>
		<string>uni1E73</string>
		<string>uni1E72</string>
		<string>uni1E99</string>
		<string>Y_uni030A</string>
		<string>I_uni030A</string>
		<string>O_uni030A</string>
		<string>i_uni030A</string>
		<string>o_uni030A</string>
	</array>
</dict>
</plist>
